* {
    margin: 0px auto !important;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 100%;
    height: 100%;
}

body{
    background-color: rgb(221, 237, 237);
}

.header{
    background-color: white;
    width: 100%;
    height: 200px;
    padding: 40px;
}


.about{
    margin-bottom: 30px;
    background-color: white;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ccc; /* Optional: Add a border at the bottom for separation */
}

.block{
    border-radius: 20px;
    background-color: white;
    padding: 15px;
}


.scaled-image {
    width: 100%; /* Make the image take up 100% of the parent's width */
    height: auto; /* Maintain the aspect ratio of the image */
    border-width: 5px;
    border-color: rgb(221, 237, 237);
    border-style: solid;
    max-width: 200px !important;
  }

